
  
  .code-input {
    /* height: 50%;  */
    height: 350px;
    resize: vertical; /* Allow vertical resizing */
    margin-top: 30px;
    color: rgb(255, 255, 255);
    background-color: #000000;
  }
  
  .submit-btn {
    margin-top: 15px;
    background-color: #30b304; /* Green */
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .output {
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split into two columns */
    gap: 20px; /* Add some gap between the two columns */
  }
  
  .left-panel {
    padding: 20px;
    border: 1px solid #2b2b2b;
    display: flex;
    flex-direction: column;
  }
  .sellang{
    font-size: 20px;
    font-family: system-ui;
    color: #000000;
    background-color: #bdbdbd;
  }
  .right-panel {
    padding: 20px;
    border: 1px solid #343434;
  }
  .lang{
    color: #ccc;
    font-size: 20px;
    font-family: cursive;
    padding: 10px;
    margin-left: 0;
  }
  