.glass-container {
  background: rgb(249 249 249 / 50%);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  padding: 20px;
  width: 297px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(33 33 33 / 8%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  border-radius: 10px;
  padding: 20px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #039fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.logbtn{
  width: 38%;
  padding: 3px;
  background-color: #007bff;
  color: white;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: cursive;
  margin-left: 4.5rem;
}

.logbtn:hover {
  background-color: #0056b3;
}

.error-message {
  color: #dc3545;
  margin-top: 10px;
}